apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: nginx
          image: "nginx:1.27.0"
          ports:
          - containerPort: 443
          volumeMounts:
            - name: "tls-certs"
              mountPath: "/etc/nginx/certs"
              readOnly: true
            - name: "nginx-frontend-conf"
              mountPath: "/etc/nginx/conf.d/default.conf"
              subPath: "frontend.conf"
              readOnly: true
      volumes:
        - name: "tls-certs"
          secret:
            secretName: "tls-certs"
        - name: "nginx-frontend-conf"
          configMap:
            name: "nginx-frontend-conf"
            items:
              - key: "frontend.conf"
                path: "frontend.conf"
