{% extends "base.html" %}

{% block content %}

<h3>Book</h3>

<div class="btn-group">
    <a href="/books/{{book.id}}/edit" class="btn btn-primary btn-sm">
        <i class="glyphicon glyphicon-edit"></i>
        Edit book
    </a>
    <a href="/books/{{book.id}}/delete" class="btn btn-danger btn-sm">
        <i class="glyphicon glyphicon-trash"></i>
        Delete book
    </a>
</div>

<div class="media">
    <div class="media-left">
        {% if book.imageUrl %}
        <img class="book-image" src="{{book.imageUrl}}" width="128" height="192" alt="book cover">
        {% else %}
        <img class="book-image" src="https://storage.googleapis.com/cloud-training/devapps-foundations/no-cover.png" width="128" height="192" alt="no book cover">
        {% endif %}
    </div>
    <div class="media-body">
        <h4 class="book-title">
            {{book.title}}
            <small>{{book.publishedDate}}</small>
        </h4>
        <h5 class="book-author">By {{book.author|default('Unknown', True)}}</h5>
        {% if translation_language is not none %}
        <p class="book-description"><strong>Description ({{description_language}}): </strong>{{book.description}}</p>
        <p class="book-description"><strong>Translation ({{translation_language}}): </strong>{{translated_text}}</p>
        {% else %}
        <p class="book-description"><strong>Description: </strong>{{book.description}}</p>
        {% endif %}

    </div>
</div>

{% endblock %}

